.header_layer {
    height: 104px;
    position: relative;
}

.name_box {
    width: 640px;
    position: absolute;
    left: 40px;
    padding: 4px;
    top: 38px;
}

.name {
    font-size: 24px;
    text-align: right;
    color: rgb(255, 255, 255);
    font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
    font-size: 24px;
    line-height: 32px;
    opacity: 1.00;
    /* text-transform: uppercase; */
}

.section_layer {
    position: relative;
}

.signature_img {
    word-wrap: break-word;
    text-align: left;
    font-size: 1px;
    line-height: 1px;
    filter: drop-shadow(12px 7px 8px #000);
}

.main_section_box {
    background-color: rgba(255, 255, 255, 0);
    height: 600px;
    margin: 0 auto;
    z-index: 3;
}


.logo_box {
    position: absolute;
    top: 46px;
    left: 40px;
}

.intro_box {
    height: 302px;
    left: 30px;
    position: absolute;
    top: 276px;
    width: 485px;
    z-index: 3;
}

.quote_box {
    height: 302px;
    left: 527px;
    position: absolute;
    top: 276px;
    width: 153px;
    z-index: 3;
}

.main_intro {
    font-family: 'Futura-MediumItalic', 'Futura', 'Trebuchet MS', sans-serif;
    color: rgb(203, 203, 203);
    font-size: 16px;
    line-height: 21px;
}

.intro {
    font-family: 'Futura-MediumItalic', 'Futura', 'Trebuchet MS', sans-serif;
    color: rgb(203, 203, 203);
    font-size: 14px;
    line-height: 21px;
}

.quote {
    font-family: 'Futura-MediumItalic', 'Futura', 'Trebuchet MS', sans-serif;
    color: darkgrey;
    font-size: 12px;
    font-style: italic;
    line-height: 19px;
}

.quoteBy {
    font-family: 'Futura-MediumItalic', 'Futura', 'Trebuchet MS', sans-serif;
    color: rgb(203, 203, 203);
    font-size: 12px;
    font-style: italic;
    line-height: 18.05px;
}

.footer {
    border: 1px solid black;
}