.header_layer {
    height: 104px;
    position: relative;
}

.section_layer {
    position: relative;
}

#main_section_box {
    background-color:rgba(255, 255, 255, 0);
    height: 600px;
    margin: 0 auto;
    z-index: 3;
}

.name_box p{
    color:whitesmoke;
    font-size: larger;
}
.logo_box{
    position: absolute;
    top: 46px;
    left:40px;
}
.quote_box{
    height: 302px;
    left: 527px;
    position: absolute;
    top: 276px;
    width: 153px;
    z-index: 3;
}
.quote_box p{
    color:darkgrey
}