.banner {
    padding-top: 42px;
}

.banner__inner {
    padding-right: 24px;
    padding-left: 40px;
    display: flex;
    justify-content: flex-end;
}

.banner__title {
    font-size: 24px;
    text-align: right;
    color: rgb(255, 255, 255);
    font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
    line-height: 32px;
    opacity: 1.00;
    z-index: 1;
}

.logo {
    padding-top: 76px;
}

.logo__img {
    width: 100%;
    word-wrap: break-word;
    text-align: left;
    font-size: 1px;
    line-height: 1px;
    filter: drop-shadow(12px 7px 8px #000);
    -webkit-filter: drop-shadow(12px 7px 8px #000);
}

.content {
    background-color: rgba(255, 255, 255, 0);
    margin: 0 auto;
    z-index: 3;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 51px;
    padding-bottom: 100px;
    height: auto;
    display: flex;
    justify-content: space-between;
    height: fit-content;
}

.content__main {
    z-index: 3;
}

.content__side {
    width: 153px;
    z-index: 3;
}

.main_intro {
    font-family: 'Futura-MediumItalic', 'Futura', 'Trebuchet MS', sans-serif;
    color: rgb(203, 203, 203);
    font-size: 16px;
    line-height: 21px;
}

.intro {
    font-family: 'Futura-MediumItalic', 'Futura', 'Trebuchet MS', sans-serif;
    color: rgb(203, 203, 203);
    font-size: 14px;
    line-height: 21px;
}

.quote {
    font-family: 'Futura-MediumItalic', 'Futura', 'Trebuchet MS', sans-serif;
    color: darkgrey;
    font-size: 12px;
    font-style: italic;
    line-height: 19px;
}

.quoteBy {
    font-family: 'Futura-MediumItalic', 'Futura', 'Trebuchet MS', sans-serif;
    color: rgb(203, 203, 203);
    font-size: 12px;
    font-style: italic;
    line-height: 18.05px;
}

.footer {
    border: 1px solid black;
    /* align element to bottom
    Reference
    https://skout90.github.io/2018/08/29/CSS/element-bottom-%EC%9C%84%EC%B9%98-3%EA%B0%80%EC%A7%80-%EB%B0%A9%EB%B2%95/ */
    position: absolute;
    bottom: 0;
}

@media screen and (max-width:768px) {
    .content {
        display: block;
        position: relative;
    }

    .content__main {
        padding-bottom: 10px;
    }

}