.main_block {
    min-height: 100vh;
    height: 100%;
    padding-bottom: 20px;
}

.author {
    padding-top: 20px;
    padding-left: 4.85%;
    padding-right: 3.82%;
    padding-bottom: 46px;
    color: white;
}

.author__name {
    position: relative;
    font-size: 2rem;
}

.author-content {
    color: rgb(210, 210, 210);
    padding-top: 20px;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.author-content__main {
    z-index: 3;
    flex: 1;
    margin-right: 3.25%;
}

.author-content__side {
    z-index: 3;
    flex: 0 0 228px;
}

.author__img {
    max-width: 387px;
    width: 100%;
    height: 330px;
    background-color: white;
}

.author__profile {
    padding-top: 20px;
}

@media screen and (max-width:768px) {
    .author-content {
        flex-direction: column;
    }

    .author-content__main {
        margin-right: 0;
        padding-bottom: 10px;
    }

}