.address {
    padding-top: 42px;
    z-index: 3;
    padding-right: 30px;
    padding-left: 30px;
}

.address__inner {
    padding-bottom: 20px;
}

.address__content {
    z-index: inherit;
    display: flex;
    justify-content: space-between;
}

.address__map {
    width: 300px;
    height: 300px;
    background-color: white;
    z-index: inherit;
}

.address__info {
    width: 300px;
    text-align: left;
    color: white;
    z-index: inherit;
}

.studio {
    padding-top: 42px;
    padding-bottom: 46px;
    font-size: 2rem;
    color: white;
}

.studio__inner {
    padding-left: 30px;
    padding-right: 30px;
}

@media screen and (max-width:767px) {
    .address__content {
        display: block;
        position: relative;
    }

    .address__map {
        width: 100%;
    }

    .address__info {
        padding-top: 10px;
    }

    .studio__gallery {
        display: block;
        position: relative;
        padding-right: 4.85%;
        padding-left: 4.85%;
    }

    .studio__gallery>* {
        width: 100%;
        margin: 10px auto;
    }
}