.banner {
    padding-top: 42px;
}

.banner__inner {
    padding-right: 24px;
    padding-left: 40px;
    display: flex;
    justify-content: flex-end;
}

.banner__title {
    text-align: right;
}

.logo {
    padding-top: 76px;
}

.logo__img {
    width: 100%;
    word-wrap: break-word;
    text-align: left;
    font-size: 1px;
    line-height: 1px;
    filter: drop-shadow(12px 7px 8px #000);
}

.home-content {
    background-color: rgb(255 255 255 / 0%);
    margin: 0 auto;
    z-index: 3;
    padding: 51px 20px 100px 30px;
    display: flex;
    justify-content: space-between;
    height: fit-content;
}

.content__main {
    z-index: 3;
}

.content__side {
    width: 153px;
    z-index: 3;
}

.main_intro {
    font-family: var(--default-font-family);
    color: rgb(203 203 203);
    font-size: 1rem;
    line-height: 21px;
}

.intro {
    font-family: var(--default-font-family);
    color: rgb(203 203 203);
    font-size: 0.875rem;
    line-height: 21px;
}

.quote {
    font-family: var(--default-font-family);
    color: darkgrey;
    font-size: 0.75rem;
    font-style: italic;
    line-height: 19px;
}

.quoteBy {
    font-family: var(--default-font-family);
    color: rgb(203 203 203);
    font-size: 0.75rem;
    font-style: italic;
    line-height: 18.05px;
}

@media screen and (max-width:768px) {
    .home-content {
        display: block;
        position: relative;
    }

    .content__main {
        padding-bottom: 10px;
    }

}